# Python
.venv/
venv/
**/.venv/
**/venv/
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/

# Build
dist/
build/

# Database
*.sqlite3
*.db

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
